## 1. Дана строка. "Abrakadabra"

Сначала выведите третий символ этой строки.

Во второй строке выведите предпоследний символ этой строки.

В третьей строке выведите первые пять символов этой строки.

В четвертой строке выведите всю строку, кроме последних двух символов.

В пятой строке выведите все символы с четными индексами (считая, что индексация начинается с 0, поэтому символы выводятся начиная с первого).

В шестой строке выведите все символы с нечетными индексами, то есть начиная со второго символа строки.

В седьмой строке выведите все символы в обратном порядке.

В восьмой строке выведите все символы строки через один в обратном порядке, начиная с последнего.

В девятой строке выведите длину данной строки.

`Примеры`

`входные данные`

`Abrakadabra`

`выходные данные`

`r`

`r`

`Abrak`

`Abrakadab`

`Arkdba`

`baaar`

`arbadakarbA`

`abdkrA`

`11`

In [41]:
s = 'Abrakadabra'
print(s[2])
print(s[-2])
print(s[:5])
print(s[:-2])
print(s[::2])
print(s[1::2])
print(s[::-1])
print(s[::-2])
print(len(s))

r
r
Abrak
Abrakadab
Arkdba
baaar
arbadakarbA
abdkrA
11

## 2. Дана строка "Hello, world!". Переставьте эти слова местами. Результат запишите в строку и выведите получившуюся строку.

`входные данные`

`Hello, world!`

`выходные данные`

`world! Hello,`

In [5]:
s = "Hello, world!"
new = s[7:] + " " + s[:7]
print(new)

world! Hello,

## 3. Дана строка "1+1=2". Замените в этой строке все цифры 1 на слово one.

`входные данные`

`1+1=2`

`выходные данные`

`one+one=2`

In [7]:
s = "1+1=2"
s = s.replace("1", "one")
print(s)

one+one=2

## 4. На вход принимаются две строки. Верните новую строку, где вторая строка будет ровно посередине первой строки (Если нечетное количество символов в первой строке, то вместо символа посередине).

`входные данные`

`s1 = "Hello"`

`s2 = "Kelly"`

`выходные данные`

`HeKellylo`

In [22]:
s1 = "Hello"
s2 = "Kelly"

if len(s1) % 2 == 0:
    print(s1[:len(s1)//2] + s2 + s1[len(s1)//2:])
else:
    print(s1[:len(s1)//2] + s2 + s1[len(s1)//2+1:])

HeKellylo

## 5. На вход подаются две строки одной длины. Выведите новую строку как смешанную двух строк. Например, сначала идет первый символ первой строки, далее первый символ второй строки, второй символ первой строки, второй символ второй строки и т.д.

`входные данные`

`ABC`

`xyz`

`выходные данные`

`AxByCz`

In [24]:
a = 'ABCF'
b = 'xyze'
new = ""
for n in range(len(a)):
    new += a[n]
    new += b[n]
    
print(new)

AxByCzFe

## 6. На вход подаются две строки. Если количество символов в первой строке равно количеству символов второй строки, вывести `True`, иначе `False`.

`входные данные`

`ABC`

`xyz`

`выходные данные`

`True`

In [28]:
a = 'ABCF'
b = 'xyze'
print(len(a) == len(b))

True

## 7. На вход подается строка. Если в нем содержится буква `a` верните `True`, иначе `False`.

`входные данные`

`Barbershop`

`выходные данные`

`True`

In [32]:
s = 'Barbershop'

if 'a' in s:
    print(True)
else:
    print(False)

True

In [31]:
s = 'Barbershop'
print("a" in s)

True