### 1 Серия задач

Имеется строка

In [1]:
planets = "Меркурий Венера Марс Jupiter Сатурн Уран Нептун"

Сделайте из него список (.split()) и сохраните как planet_list.

In [2]:
planet_list = planets.split()
print(planet_list)

['Меркурий', 'Венера', 'Марс', 'Jupiter', 'Сатурн', 'Уран', 'Нептун']

Добавьте в этот список последним "Плутон"

In [3]:
planet_list.append("Плутон")
print(planet_list)

['Меркурий', 'Венера', 'Марс', 'Jupiter', 'Сатурн', 'Уран', 'Нептун', 'Плутон']

Между "Венера" и "Марс" добавьте "Земля"

In [4]:
planet_list.insert(2, "Земля")
print(planet_list)

['Меркурий', 'Венера', 'Земля', 'Марс', 'Jupiter', 'Сатурн', 'Уран', 'Нептун', 'Плутон']

"Jupiter" переименуйте на "Юпитер" одной строкой кода

In [5]:
planet_list[4] = "Юпитер"
print(planet_list)

['Меркурий', 'Венера', 'Земля', 'Марс', 'Юпитер', 'Сатурн', 'Уран', 'Нептун', 'Плутон']

Оказывается Плутон не планета. Удалите "Плутон" из нашего списка.

In [6]:
planet_list.remove("Плутон")
print(planet_list)

['Меркурий', 'Венера', 'Земля', 'Марс', 'Юпитер', 'Сатурн', 'Уран', 'Нептун']

Выведите количество планет в списке.

In [7]:
print(len(planet_list))

8

Покажите, используя срезы (slices) три планеты - Венера, Земля, Марс

In [8]:
planet_list[1:4]

['Венера', 'Земля', 'Марс']

Используя срезы покажите две последние планеты

In [9]:
planet_list[-2:]

['Уран', 'Нептун']

### 2 Серия задач

Имеется таблица:

|  Student | Mark |
| --- | --- |
| Джон | 4 |
| Сара | 5 |
| Девид | 5 |
| Марк | 3 |
| Клара | 2 |
| Сэм | 2 |
| Санта | 4 |
| Крис | 5 |
| Джастин | 4 |

Имеются два столбца. Создайте два списка (Student и Mark). В первом будут имена студентов по порядку, указанному в таблице. Во втором списке в таком же порядке их оценки.

In [10]:
# Создайте здесь списки
Student = ["Джон", "Сара", "Девид", "Марк", "Клара", "Сэм", "Санта", "Крис", "Джастин"]
Mark = [4, 5, 5, 3, 2, 2, 4, 5, 4]

Добавился студент по имени Рассел и с оценкой 5. Добавьте его имя и оценки в соответствующие списки.

In [11]:
Student.append("Рассел")
Mark.append(5)

In [12]:
print(Student)
print(Mark)

['Джон', 'Сара', 'Девид', 'Марк', 'Клара', 'Сэм', 'Санта', 'Крис', 'Джастин', 'Рассел']
[4, 5, 5, 3, 2, 2, 4, 5, 4, 5]

Выведите количество студентов в списке

In [13]:
print(len(Student))

10

Проверьте, имеется ли в списке студентов студент по имени Марк. Если ИСТИНА, выведите "да", иначе "нет".

In [14]:
if "Марк" in Student:
    print("да")
else:
    print("нет")

да

Пробежитесь в цикле и выведите из двух списков значения таким образом, чтобы на каждой строке печаталось по следущему образцу:

"У студента по имени Джастин 4 балла"

In [15]:
for i in range(len(Student)):
    print(f"У студента по имени {Student[i]} {Mark[i]} балла")

У студента по имени Джон 4 балла
У студента по имени Сара 5 балла
У студента по имени Девид 5 балла
У студента по имени Марк 3 балла
У студента по имени Клара 2 балла
У студента по имени Сэм 2 балла
У студента по имени Санта 4 балла
У студента по имени Крис 5 балла
У студента по имени Джастин 4 балла
У студента по имени Рассел 5 балла

Создайте копии списков: Student_2, Mark_2.

In [16]:
Student_2 = Student.copy()
Mark_2 = Mark.copy()

Из оригинальных списков (не копий) удалите студентов и их оценки, если у них 2 балла. (можно вручную по одному, либо в цикле проверяя условие: если оценка == 2.

In [17]:
names = []
for i in range(len(Student)):
    if Mark[i] == 2:
        names.append(Student[i])
    
for name in names:
    Student.remove(name)
    Mark.remove(2)


print(Student)
print(Mark)

['Джон', 'Сара', 'Девид', 'Марк', 'Санта', 'Крис', 'Джастин', 'Рассел']
[4, 5, 5, 3, 4, 5, 4, 5]

Выведите с 3 по 5 включительно имена студентов.

In [18]:
Student_2[2:5]

['Девид', 'Марк', 'Клара']

Выведите имена студентов через раз. Джон, Девид, Клара... и тд

In [19]:
Student_2[::2]

['Джон', 'Девид', 'Клара', 'Санта', 'Джастин']

У вас сохранились копии списков (Student_2, Mark_2). Там в копии списков если оценка равна 2 - поставьте оценку 3.

In [20]:
for i in range(len(Mark_2)):
    if Mark_2[i] == 2:
        Mark_2[i] = 3
        
print(Mark_2)

[4, 5, 5, 3, 3, 3, 4, 5, 4, 5]

Посчитайте у скольких студентов оценка 5

In [21]:
c = 0

for n in Mark_2:
    if n == 5:
        c += 1
        
print(c)

4

Выведите имена отличников (у кого 5). Через цикл и условие если оценка == 5.

In [22]:
for i in range(len(Mark_2)):
    if Mark_2[i] == 5:
        print(Student_2[i])

Сара
Девид
Крис
Рассел