Atalov S. DevCIT

-----

## Pandas HW

In [2]:
# импортируйте pandas
import pandas as pd

In [3]:
# импортируйте datafile "video_games_sales.csv"
# обратите внимание на разделитель
df = pd.read_csv("video_games_sales.csv", sep = ",")

Данные об играх и продажах.


- Rank - Ранжирование по продажам
- Name - Название игры
- Platform - Платформа на которой выпущена игра (т.е. PC, PS4 и т.д.)
- Year - Год выпуска
- Genre - Жанр
- Publisher - Издатель
- NA_Sales - Продажи в Северной Америке (в миллионах)
- EU_Sales - Продажи в Европе (в миллионах)
- JP_Sales - Продажи в Японии (в миллионах)
- Other_Sales - Продажи в остальных странах (в миллионах)
- Global_Sales - Мировые продажи (в миллионах)

**1. Покажите первые пять наблюдений (игр) в датафрейме**

In [4]:
df.head(5)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

**2. Покажите названия столбцов**

In [5]:
print(df.columns.values)

['Name' 'Platform' 'Year_of_Release' 'Genre' 'Publisher' 'NA_Sales'
 'EU_Sales' 'JP_Sales' 'Other_Sales' 'Global_Sales' 'Critic_Score'
 'Critic_Count' 'User_Score' 'User_Count' 'Developer' 'Rating']

**3. Отсортируйте таблицу по году выпуска (от новых к старым). И покажите последние 5 в таблице.**

In [6]:
df.sort_values(by="Year_of_Release").tail(5)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
16376,PDC World Championship Darts 2008,PSP,NaN,Sports,Oxygen Interactive,0.01,0.0,0.0,0.0,0.01,43.0,7.0,tbd,NaN,Oxygen Interactive,E10+
16409,Freaky Flyers,GC,NaN,Racing,Unknown,0.01,0.0,0.0,0.0,0.01,69.0,14.0,6.5,6.0,Midway,T
16452,Inversion,PC,NaN,Shooter,Namco Bandai Games,0.01,0.0,0.0,0.0,0.01,59.0,6.0,6.7,107.0,Saber Interactive,M
16462,Hakuouki: Shinsengumi Kitan,PS3,NaN,Adventure,Unknown,0.01,0.0,0.0,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16526,Virtua Quest,GC,NaN,Role-Playing,Unknown,0.01,0.0,0.0,0.0,0.01,55.0,19.0,5.5,12.0,Artificial Mind and Movement,T

**4. Посчитайте средние мировые продажи игр**

In [7]:
df["Global_Sales"].mean()

0.5335426759974459

**5. Покажите таблицу игр опубликованных "Sega"**

In [8]:
df["Name"] == "Sega"

0        False
1        False
2        False
3        False
4        False
         ...
16714    False
16715    False
16716    False
16717    False
16718    False
Name: Name, Length: 16719, dtype: bool

**6. Покажите таблицу с играми выпущенными "Ubisoft" в жанре 'Sports'**

In [9]:
df[ (df["Name"] == "Ubisoft") & (df["Genre"] == "Sports") ]

Empty DataFrame
Columns: [Name, Platform, Year_of_Release, Genre, Publisher, NA_Sales, EU_Sales, JP_Sales, Other_Sales, Global_Sales, Critic_Score, Critic_Count, User_Score, User_Count, Developer, Rating]
Index: []

**7. Какая игра имеет максимальные продажи в Европе?**

In [18]:
df["EU_Sales"].max()

28.96

**8. Покажите таблицу с описательной статистикой (среднее, std и тд)**