Atalov S. (DevCIT)

# Введение в моделирование
---

## Но перед этим небольшой Quiz!

Импортируйте Pandas

In [3]:
import pandas as pd

Прочитайте Excel-файл `telecom_churn.xlsx`

In [6]:
# pd.read_excel()
df = pd.read_excel('telecom_churn.xlsx')

In [8]:
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

1. Сколько клиентов пользуются Голосовой почтой? `Voice mail plan`

In [9]:
len(df[df['Voice mail plan'] == 'Yes'])

922

2. Сколько клиентов перестали пользоваться нашими услугами? Какой процент оттока? `Churn = True`

In [11]:
len(df[df['Churn'] == True])

483

3. Сколько штатов в нашей выборке? `State`

In [13]:
len(df['State'].unique())

51

4. Какое максимальное число обращений в техподдержку? `Customer service calls`

In [14]:
df['Customer service calls'].max()

9

5. Сколько клиентов имеют подключенный пакет международных звонков и голосовую почту одновременно? `International plan`

In [18]:
len(df[ (df['International plan'] == 'Yes') & (df['Voice mail plan'] == 'Yes') ])

92

6. В скольких штатах клиенты имеют и подключенный пакет международных звонков и голосовую почту одновременно?

In [24]:
df[ (df['International plan'] == 'Yes') & (df['Voice mail plan'] == 'Yes')]['State'].unique()


len(df[ (df['International plan'] == 'Yes') & (df['Voice mail plan'] == 'Yes')]['State'].unique())

43

7. Поменяйте текстовые значения `International plan` на 1 и 0.

In [26]:
df['International plan'] = df['International plan'].map({ 'Yes': 1, 'No': 1})

In [27]:
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,1,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,1,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,1,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,1,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,1,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

---
# Введение в моделирование

### Что такое Машинное обучение? Искусственный интеллект?

### Какие задачи стоят перед нами?

1. Кластеризация
2. Классификация
3. Системы рекомендаций
4. Прогнозирование
5. Снижение размерности

Цикл моделирования:

1. Подготовка данных
2. Выбор алгоритма (модели) для решения задачи
3. Оценка модели
4. Анализ результатов моделирования
5. Улучшение модели
6. Окончательный вариант модели. Использование для решения задачи.

##  Пример анализа и моделирования

### 1. Подготовка данных

In [13]:
import pandas as pd

df = pd.read_excel('telecom_churn.xlsx')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3333 non-null   object
 1   Account length          3333 non-null   int64
 2   Area code               3333 non-null   int64
 3   International plan      3333 non-null   object
 4   Voice mail plan         3333 non-null   object
 5   Number vmail messages   3333 non-null   int64
 6   Total day minutes       3333 non-null   float64
 7   Total day calls         3333 non-null   int64
 8   Total day charge        3333 non-null   float64
 9   Total eve minutes       3333 non-null   float64
 10  Total eve calls         3333 non-null   int64
 11  Total eve charge        3333 non-null   float64
 12  Total night minutes     3333 non-null   float64
 13  Total night calls       3333 non-null   int64
 14  Total night charge      3333 non-null   float64
 15  Total intl minutes      3333 non-null   float64
 16  Total intl calls        3333 non-null   int64
 17  Total intl charge       3333 non-null   float64
 18  Customer service calls  3333 non-null   int64
 19  Churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 498.1+ KB

In [44]:
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls
0,KS,128,415,0,1,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,OH,107,415,0,1,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1
2,NJ,137,415,0,0,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0
3,OH,84,408,1,0,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2
4,OK,75,415,1,0,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3

In [46]:
df['International plan'] = df['International plan'].map({"Yes": 1, "No": 0})
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls
0,KS,128,415,NaN,1,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,OH,107,415,NaN,1,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1
2,NJ,137,415,NaN,0,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0
3,OH,84,408,NaN,0,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2
4,OK,75,415,NaN,0,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3

In [48]:
df['Voice mail plan'] = df['Voice mail plan'].map({"Yes": 1, "No": 0})
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls
0,KS,128,415,NaN,NaN,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,OH,107,415,NaN,NaN,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1
2,NJ,137,415,NaN,NaN,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0
3,OH,84,408,NaN,NaN,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2
4,OK,75,415,NaN,NaN,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3

In [51]:
df.pop("State")
df.head()

KeyError: 'State'

In [ ]:
df['Churn'] = df['Churn'].map({True: 1, False: 0})
df.head()

In [24]:
df.isnull().sum()

State                     0
Account length            0
Area code                 0
International plan        0
Voice mail plan           0
Number vmail messages     0
Total day minutes         0
Total day calls           0
Total day charge          0
Total eve minutes         0
Total eve calls           0
Total eve charge          0
Total night minutes       0
Total night calls         0
Total night charge        0
Total intl minutes        0
Total intl calls          0
Total intl charge         0
Customer service calls    0
dtype: int64

In [25]:
y = df.pop("Churn")

KeyError: 'Churn'

In [ ]:
# y = df['Churn']
# df.pop('Churn')

In [21]:
X = df.copy()

In [ ]:
y

### train test split

In [36]:
from sklearn.model_selection import train_test_split

In [35]:
train_test_split(X, y, test_size = 0.2)

[     State  Account length  Area code  International plan  Voice mail plan  \
 3197    SD              30        415                   0                0
 816     OH              83        510                   0                0
 1031    UT              87        415                   0                0
 17      VT              93        510                   0                0
 1731    TX              70        415                   0                0
 ...    ...             ...        ...                 ...              ...
 2044    MT              80        510                   1                1
 462     OH             144        415                   0                1
 2238    NE              61        408                   0                0
 835     GA              27        510                   0                0
 234     ID              92        415                   1                0

       Number vmail messages  Total day minutes  Total day calls  \
 3197                      0              247.4              107
 816                       0              227.9               78
 1031                      0              146.3              108
 17                        0              190.7              114
 1731                      0              232.8               95
 ...                     ...                ...              ...
 2044                     30              184.2              132
 462                      18              106.4              109
 2238                      0              267.1              104
 835                       0               72.7               75
 234                       0              173.1              140

       Total day charge  Total eve minutes  Total eve calls  Total eve charge  \
 3197             42.06              175.9               76             14.95
 816              38.74              207.5              115             17.64
 1031             24.87              171.8              102             14.60
 17               32.42              218.2              111             18.55
 1731             39.58              303.4              111             25.79
 ...                ...                ...              ...               ...
 2044             31.31              167.5              109             14.24
 462              18.09              108.1              113              9.19
 2238             45.41              180.4              131             15.33
 835              12.36              208.6              117             17.73
 234              29.43              240.3              105             20.43

       Total night minutes  Total night calls  Total night charge  \
 3197                287.4                 90               12.93
 816                 211.7                100                9.53
 1031                167.5                 66                7.54
 17                  129.6                121                5.83
 1731                255.6                104               11.50
 ...                   ...                ...                 ...
 2044                212.8                114                9.58
 462                 208.4                111                9.38
 2238                230.6                106               10.38
 835                  65.8                 71                2.96
 234                 233.2                117               10.49

       Total intl minutes  Total intl calls  Total intl charge  \
 3197                11.3                 2               3.05
 816                 12.1                 5               3.27
 1031                 5.3                 9               1.43
 17                   8.1                 3               2.19
 1731                12.9                 7               3.48
 ...                  ...               ...                ...
 2044                10.0                10               2.70
 462                 10.1                 5               2.73
 2238                17.3                 4               4.67
 835                  9.9                 3               2.67
 234                  9.0                 5               2.43

       Customer service calls
 3197                       0
 816                        1
 1031                       1
 17                         3
 1731                       0
 ...                      ...
 2044                       0
 462                        1
 2238                       1
 835                        1
 234                        1

 [2666 rows x 19 columns],
      State  Account length  Area code  International plan  Voice mail plan  \
 845     FL             144        415                   0                1
 2866    IN             115        408                   0                0
 3286    OH             106        415                   0                1
 2796    HI              24        415                   0                0
 2920    MN             132        510                   0                0
 ...    ...             ...        ...                 ...              ...
 710     TN              69        510                   0                0
 3044    NM             105        408                   0                0
 909     NC             127        415                   0                1
 2628    TN              37        415                   0                0
 415     DE             113        415                   0                0

       Number vmail messages  Total day minutes  Total day calls  \
 845                      51              283.9               98
 2866                      0              146.7              128
 3286                     30              220.1              105
 2796                      0              235.6              132
 2920                      0              121.5               88
 ...                     ...                ...              ...
 710                       0              195.3               70
 3044                      0              146.4               81
 909                      25               82.2               95
 2628                      0              221.0              126
 415                       0              239.7               47

       Total day charge  Total eve minutes  Total eve calls  Total eve charge  \
 845              48.26              192.0              109             16.32
 2866             24.94              106.2               74              9.03
 3286             37.42              222.2              109             18.89
 2796             40.05              115.9              129              9.85
 2920             20.66              253.0              124             21.51
 ...                ...                ...              ...               ...
 710              33.20              216.7              108             18.42
 3044             24.89              225.1               80             19.13
 909              13.97              163.3              109             13.88
 2628             37.57              204.5              110             17.38
 415              40.75              282.9              110             24.05

       Total night minutes  Total night calls  Total night charge  \
 845                 196.3                 85                8.83
 2866                197.7                104                8.90
 3286                158.4                 96                7.13
 2796                185.4                136                8.34
 2920                195.7                120                8.81
 ...                   ...                ...                 ...
 710                 259.9                119               11.70
 3044                230.1                117               10.35
 909                 264.9                104               11.92
 2628                118.0                 98                5.31
 415                 238.4                 88               10.73

       Total intl minutes  Total intl calls  Total intl charge  \
 845                 10.0                 4               2.70
 2866                11.1                 4               3.00
 3286                13.1                 8               3.54
 2796                16.2                 2               4.37
 2920                10.7                 4               2.89
 ...                  ...               ...                ...
 710                 12.5                 4               3.38
 3044                 8.5                 2               2.30
 909                  5.1                 6               1.38
 2628                 6.8                 3               1.84
 415                  8.7                 3               2.35

       Customer service calls
 845                        1
 2866                       2
 3286                       0
 2796                       0
 2920                       1
 ...                      ...
 710                        3
 3044                       1
 909                        0
 2628                       4
 415                        2

 [667 rows x 19 columns],
 3197    False
 816     False
 1031    False
 17      False
 1731     True
         ...
 2044    False
 462     False
 2238     True
 835     False
 234     False
 Name: Churn, Length: 2666, dtype: bool,
 845     False
 2866    False
 3286    False
 2796    False
 2920    False
         ...
 710     False
 3044    False
 909     False
 2628    False
 415      True
 Name: Churn, Length: 667, dtype: bool]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [37]:
X_train.shape

NameError: name 'X_train' is not defined

In [40]:
X_test.shape

NameError: name 'X_test' is not defined

### 2. Выбор алгоритма (модели) для решения задачи

In [39]:
from sklearn.ensemble import RandomForestClassifier

In [41]:
clf = RandomForestClassifier()

In [32]:
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

### 3. Оценка модели

In [42]:
clf.fit(X_train, y_train)

NameError: name 'X_train' is not defined

### 4. Анализ результатов моделирования

Как проверить насколько хороша модель?

In [43]:
clf.score(X_train, y_train)

NameError: name 'X_train' is not defined

In [ ]:
y_pred = clf.predict(X_test)

In [ ]:
y_pred

In [ ]:
y_test = list(y_test)

In [ ]:
trues = 0

for i in range(len(y_test)):
    if y_test[i] == y_pred[i]:
        trues += 1
        
print(trues)

In [ ]:
print(trues / len(y_test) * 100)

### 5. Улучшение модели

In [ ]:
for n in range(10, 101, 10):
    print(f"Оцениваю модель с {n} деревьями...")
    clf = RandomForestClassifier(n_estimators = n).fit(X_train, y_train)
    print(f"точность на тестовых данных: {clf.score(X_test, y_test)}")

### 6. Окончательный вариант модели. Использование для решения задачи.

In [ ]:
clf = RandomForestClassifier(n_estimators=100)
clf.fit(X_train, y_train)

In [ ]:
import pickle

In [ ]:
pickle.dump(clf, open("my_model1.pkl", "wb"))

In [ ]:
loaded_model = pickle.load(open("my_model1.pkl", "rb"))

In [ ]:
loaded_model.predict(X_test)