Atalov S.

# Линейная регрессия

На этот раз у нас имеются данные по домам (Real_estate.csv).

* transaction date - дата транзакции (не будем использовать)
* house age - возраст дома
* distance metro station - расстояние до станции метро
* number of convenience stores - количество магазинов
* latitude - широта (для местоположения)
* longitude - долгота (для местоположения)
* house price of unit area - стоимость квадратного метра жилья

**У нас имеется модель линейной регрессии со следующей спецификацией:**

$\hat{y}=\theta_0 + \theta_1house age + \theta_2distance metro station + \theta_3number of convenience stores + \theta_4latitude + \theta_5longitude$

где,

$\hat{y}$ - это прогнозируемое значение - `house price of unit area`;

*ℎ𝑜𝑢𝑠𝑒𝑎𝑔𝑒* - это `house age`;

*𝑑𝑖𝑠𝑡𝑎𝑛𝑐𝑒𝑚𝑒𝑡𝑟𝑜𝑠𝑡𝑎𝑡𝑖𝑜𝑛* - это `distance metro station`;

*𝑛𝑢𝑚𝑏𝑒𝑟𝑜𝑓𝑐𝑜𝑛𝑣𝑒𝑛𝑖𝑒𝑛𝑐𝑒𝑠𝑡𝑜𝑟𝑒𝑠* - это `number of convenience stores`;

*𝑙𝑎𝑡𝑖𝑡𝑢𝑑𝑒* - это `latitude`;

*𝑙𝑜𝑛𝑔𝑖𝑡𝑢𝑑𝑒* - это `longitude`;

$\theta_i$ - это параметры модели.

**Попробуем оценить модель аналитически и с помощью Sklearn:**

In [21]:
import pandas as pd

In [2]:
df = pd.read_csv('Real_estate.csv')

In [4]:
df.head()

,No,transaction date,house age,distance metro station,number of convenience stores,latitude,longitude,house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

#### Делим данные на X и y как показано в спецификации уравнения (какие данные нам необходимы)

In [23]:
from sklearn.model_selection import train_test_split

In [9]:
X = df.copy()
X.pop('house price of unit area')
X.pop('transaction date')

0      2012.917
1      2012.917
2      2013.583
3      2013.500
4      2012.833
         ...
409    2013.000
410    2012.667
411    2013.250
412    2013.000
413    2013.500
Name: transaction date, Length: 414, dtype: float64

In [11]:
y = df[['house price of unit area']]

#### Разделим данные на тренировочные и тестовые данные (размер тестовых данны определяем сами)

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.8, random_state = 40)

In [13]:
X_test

,No,house age,distance metro station,number of convenience stores,latitude,longitude
320,321,13.5,4197.3490,0,24.93885,121.50383
383,384,29.1,506.1144,4,24.97845,121.53889
362,363,17.1,967.4000,4,24.98872,121.53408
85,86,0.0,338.9679,9,24.96853,121.54413
169,170,8.4,1962.6280,1,24.95468,121.55481
...,...,...,...,...,...,...
283,284,33.5,1978.6710,2,24.98674,121.51844
115,116,20.6,737.9161,2,24.98092,121.54739
119,120,16.6,289.3248,5,24.98203,121.54348
250,251,39.2,424.7132,7,24.97429,121.53917
201,202,13.1,561.9845,5,24.98746,121.54391

In [26]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [29]:
model.fit(X_train, y_train)

LinearRegression()

In [30]:
model.score(X_train, y_train)

0.5244273432977027

In [31]:
model.score(X_test, y_test)

0.5235278827770324

-----

## Решение уравнения в аналитическом виде


## $\hat{\theta} = (X^{T}X)^{-1} X^{T}y$

In [ ]:
# добавляем x0 равное 1, для того чтобы решалось уравнение
X = np.c_[np.ones(("тут количество строк в x_train", 1)), X_train]
y = Y_train

### Какие наилучшие оценки коэффициентов $\theta$ ???

In [ ]:
# тут решение по формуле данной выше
theta_best =

### Каковы значения коэффициентов $\theta_0$, $\theta_1$, $\theta_2$, $\theta_3$, $\theta_4$ и $\theta_5$ ???

In [ ]:
theta0 = theta_best[0]
theta1 = theta_best[1]
theta2 = ...
theta3 = ...
theta4 = ...
theta5 = ...

#### Если наше уравнение выглядит таким образом:

$\hat{y}=\theta_0 + \theta_1house age + \theta_2distance metro station + \theta_3number of convenience stores + \theta_4latitude + \theta_5longitude$

#### Сделайте прогноз `house price of unit area` если у нас имеется дом с данными параметрами:

`house age = 18`

`distance metro station = 1000`

`number of convenience stores = 4`

`latitude = 25`

`longitude = 121`

#### Используя оцененные выше коэффициенты, допишите уравнение и предскажите стоимость жилья:

In [ ]:
price = theta0 + theta1 * 18 + ...
print(price)

-----

## Решение с помощью sklearn.

#### Проверьте, оцененные коэффициенты с помощью sklearn такие же как мы получали выше?

#### Сделайте прогноз `house price of unit area` если у нас имеется дом со следующими характеристиками:

`house age = 18`

`distance metro station = 1000`

`number of convenience stores = 4`

`latitude = 25`

`longitude = 121`

In [ ]:
# напишите в списке данные характеристики в порядке, указанном в спецификации модели
model.predict([[]])

### Схожи ли прогнозы???

---

### Посмотрим насколько хороша модель на train и test data.

In [ ]:
print("Training set score: {:.2f}".format(model.score(X_train, Y_train)))
print("Test set score: {:.2f}".format(model.score(X_test, Y_test)))