Atalov S.

# Часть 1.

Попробуйте загрузить `student_study.csv` и оценить модель линейной регрессии - посмотреть зависимость оценки, от количества часов подготовки. Попробуйте объяснить результат - коэффициенты.

In [20]:
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
df = pd.read_csv("student_study.csv", sep = ',')

In [12]:
df.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [30]:
df

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86
25    1.3      19
26    2.6      30
27    6.1      63

In [24]:
x = df[['Hours']]
y = df['Scores']

In [25]:
# sklearn
from sklearn.linear_model import LinearRegression

In [26]:
model = LinearRegression()
model.fit(x, y)

LinearRegression()

In [27]:
model.score(x, y)

0.956385580254777

In [28]:
model.intercept_

3.2017255945286465

In [29]:
model.coef_

array([9.67739603])

In [31]:
model.predict([[5]])

array([51.58870576])

## Прогнозирование и ошибка

In [42]:
from sklearn.metrics import mean_squared_error, r2_score

In [40]:
y_predict = model.predict(x)

In [44]:
mean_squared_error(y_predict, y)

26.372649394590095

In [45]:
r2_score(y_predict, y)

0.9543966150832134

In [46]:
model.score(x, y)

0.956385580254777

# Часть 2. Аналитическое решение уравнений

## $\hat{\theta} = (X^{T}X)^{-1} X^{T}y$

[Cсылка на подробные расчеты](https://habr.com/ru/post/479398/)

In [33]:
import numpy as np

In [37]:
edinichki = np.ones((28, 1))
X = np.c_[edinichki, x]

In [38]:
coefficients = np.linalg.inv( X.T.dot(X) ).dot(X.T).dot(y)

In [39]:
coefficients

array([3.20172559, 9.67739603])

# Часть 3. Практика

In [47]:
import pandas as pd

In [49]:
df = pd.read_csv("BostonHousing.csv")
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

* CRIM - уровень преступности на душу населения по городу;
* ZN - доля жилых земельных участков с площадью более 25 ООО квадратных футов (примерно 2 322.5 квадратных метров);
* INDUS - доля земель, занимаемых предприятиями нерозничной торговли, по городу;
* СНАS - фиктивная переменная реки Чарльз (равна 1, если граничит с рекой, и 0 в противном случае);
* NOX - концентрация окиси азота (в десятимиллионных долях);
* RМ - среднее количество комнат на дом;
* AGE - доля занимаемых собственниками домов, построенных до 1940
года;
* DIS - взвешенные расстояния до пяти центров занятости в Бостоне;
* RAD - индекс досягаемости до радиальных автомагистралей;
* ТАХ - полная ставка налога на недвижимость на `$10000`;
* PTRATIO - пропорция ученик-учитель по городу;
* B - доля людей афроамериканского происхождения по городу;
* LSTAT - процентная доля населения с более низким социальным статусом;
* MEDV - медианная стоимость занимаемых собственниками домов в
тысячах долларов.

### Разделение данных на тестовую и тренировочные данные

In [50]:
from sklearn.model_selection import train_test_split

In [53]:
X = df.copy()
X.pop('medv')

y = df['medv']

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 5)

In [60]:
X_test

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat
226,0.38214,0.0,6.20,0,0.504,8.040,86.5,3.2157,8,307,17.4,387.38,3.13
292,0.03615,80.0,4.95,0,0.411,6.630,23.4,5.1167,4,245,19.2,396.90,4.70
90,0.04684,0.0,3.41,0,0.489,6.417,66.1,3.0923,2,270,17.8,392.18,8.81
373,11.10810,0.0,18.10,0,0.668,4.906,100.0,1.1742,24,666,20.2,396.90,34.77
273,0.22188,20.0,6.96,1,0.464,7.691,51.8,4.3665,3,223,18.6,390.77,6.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,0.02899,40.0,1.25,0,0.429,6.939,34.5,8.7921,1,335,19.7,389.85,5.89
212,0.21719,0.0,10.59,1,0.489,5.807,53.8,3.6526,4,277,18.6,390.94,16.03
156,2.44668,0.0,19.58,0,0.871,5.272,94.0,1.7364,5,403,14.7,88.63,16.14
480,5.82401,0.0,18.10,0,0.532,6.242,64.7,3.4242,24,666,20.2,396.90,10.74
248,0.16439,22.0,5.86,0,0.431,6.433,49.1,7.8265,7,330,19.1,374.71,9.52

### Строим модель

In [65]:
model2 = LinearRegression()

### Проверяем насколько хорошо построена модель

In [72]:
model2.fit(X_train, y_train)

LinearRegression()

In [71]:
model2.score(X_train, y_train)

0.738339392059052

In [70]:
model2.score(X_test, y_test)

0.7334492147453089

In [73]:
x = df[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'b', 'lstat']]
y = df['medv']

In [74]:
model.fit(x, y)

LinearRegression()

In [75]:
model.score(x, y)

0.7406426641094095

In [ ]:
# Проверяем насколько хорошо построена модель

In [76]:
from sklearn.ensemble import RandomForestRegressor

In [78]:
model3 = RandomForestRegressor()
model3.fit(X_train, y_train)
model3.score(X_train, y_train)

0.9838702117382716

In [79]:
model3.score(X_test, y_test)

0.8735628680802046