Atalov S. (DevCIT)

## Повторение цикла for

In [1]:
summa = 0

for x in 'Hello':
    summa += 1

In [2]:
print(summa)

5

In [4]:
for n in range(19, 30, 1):
    if n % 2 == 0:
        print(n)

20
22
24
26
28

# Строки (индексация и методы)
---

In [5]:
name = "Alan Turing"
# напечатайте в цикле каждый символ
for i in name:
    print(i)

A
l
a
n

T
u
r
i
n
g

In [6]:
# покажите первую букву в name
for i in name:
    if i == 'A':
        print(i)

A

In [8]:
name = "Alan Turing"

In [10]:
# покажите первую букву в name
print(name[0])

A

In [17]:
len(name)

11

In [18]:
print(name[0])

A

In [15]:
name = "Alan Turing"
# покажите четвертую букву в name
print( name[5] )

T

### **1. Срезы строк (Slices)**

Срез (slice) — извлечение из данной строки одного символа или некоторого фрагмента подстроки или подпоследовательности.

Есть три формы срезов. Самая простая форма среза: взятие одного символа строки, а именно, `S[i]` — это срез, состоящий из одного символа, который имеет номер i. При этом считается, что нумерация начинается с числа `0`. То есть если `S = 'Hello'`, то `S[0] == 'H'`, `S[1] == 'e'`, `S[2] == 'l'`, `S[3] == 'l'`, `S[4] == 'o'`.


*Каждый объект, который получается в результате среза S[i] — это тоже строка типа str.*


Номера символов в строке называются **индексом**.

In [27]:
S = 'Hello5'
S[5]

'5'

Если указать отрицательное значение индекса, то номер будет отсчитываться с конца, начиная с номера `-1`. То есть `S[-1] == 'o'`, `S[-2] == 'l'`, `S[-3] == 'l'`, `S[-4] == 'e'`, `S[-5] == 'H'`.

In [45]:
S = 'Hello My name is Harry'
print(S[-1])
print(S[1])
print(S[3])

y
e
l

![image.png]()

Если же номер символа в срезе строки `S` больше либо равен `len(S)`, или меньше, чем `-len(S)`, то при обращении к этому символу строки произойдет ошибка `IndexError: string index out of range`

In [64]:
S = 'Hello My name is Harry'

'Hello My name is Harry'

In [62]:
S

'My name is Harry'

Срез с двумя параметрами: `S[a:b]` возвращает подстроку из `b - a` символов, начиная с символа c индексом a, то есть до символа с индексом `b`, не включая его. Например, `S[1:4] == 'ell'`, то же самое получится если написать `S[-4:-1]`. Можно использовать как положительные, так и отрицательные индексы в одном срезе, например, `S[1:-1]` — это строка без первого и последнего символа (срез начинается с символа с индексом `1` и заканчиватеся индексом `-1`, не включая его).

Если опустить второй параметр (но поставить двоеточие), то срез берется до конца строки. Например, чтобы удалить из строки первый символ (его индекс равен `0`), можно взять срез `S[1:]`. Аналогично если опустить первый параметр, то можно взять срез от начала строки. То есть удалить из строки последний символ можно при помощи среза `S[:-1]`. Срез `S[:]` совпадает с самой строкой `S`.

In [65]:
S[:]

'Hello My name is Harry'

*Любые операции среза со строкой создают новые строки и никогда не меняют исходную строку. В Питоне строки вообще являются неизменяемыми, их невозможно изменить. Можно лишь в старую переменную присвоить новую строку.*

In [ ]:
S

Если задать срез с тремя параметрами `S[a:b:d]`, то третий параметр задает шаг. При задании значения третьего параметра, равному `2`, в срез попадет кажый второй символ, а если взять значение среза, равное `-1`, то символы будут идти в обратном порядке. Например, можно перевернуть строку срезом `S[::-1]`.

### **2. `in` str**

Проверяет наличие

In [97]:
S = 'Hello, Harry. My name is Harry!'

In [96]:
# метод
S.count('e')

2

In [100]:
if 'Harry' in S:
    print('Yes')
else:
    print('No')

Yes

In [83]:
'5' in S
# bool

True

In [73]:
5 > 2

True

In [77]:
if 'llo' in S:
    print('Есть')
else:
    print('Нет')

Есть

In [101]:
slovo = 'Hello'
slovo.upper()

HELLO

In [118]:
# Методы
S[0:5].upper()

'HELLO'

In [110]:
S

'Hello, Harry. My name is Harry!'

In [117]:
# string.count(value, start, end)
S.count('Harry!', 20)

1

In [119]:
S

'Hello, Harry. My name is Harry!'

In [121]:
S.find('Bob')

-1

In [122]:
S.count('Harry')

2

In [126]:
S[12:]

'. My name is Harry!'

In [125]:
S[12:].find('Harry')

13

In [124]:
S[7:12]

'Harry'

In [132]:
S

'Hello, Harry. My name is Harry!'

In [133]:
S.find('Harry')

7

In [136]:
S.count('Harry')

2

In [135]:
S[7:12]

'Harry'

### **3. Метод find**

Метод `find` находит в данной строке (к которой применяется метод) данную подстроку (которая передается в качестве параметра). Функция возвращает индекс первого вхождения искомой подстроки. Если же подстрока не найдена, то метод возвращает значение `-1`.

In [ ]:
S = 'Hello'
print(S.find('e'))
# вернёт 1

1
2
-1

In [ ]:
print(S.find('ll'))
# вернёт 2

In [ ]:
print(S.find('L'))
# вернёт -1

In [139]:
S

'Hello, Harry. My name is Harry!'

In [144]:
S1 = S.replace('is Harry', 'Bob')

In [145]:
S1

'Hello, Harry. My name Bob!'

### **4. Метод replace**

Метод `replace` заменяет все вхождения одной строки на другую. Формат: `S.replace(old, new)` — заменить в строке `S` все вхождения подстроки `old` на подстроку `new`. 

Пример:

In [ ]:
print('Hello'.replace('l', 'L'))
# вернёт 'HeLLo'

HeLLo

### **5. Метод count**

Подсчитывает количество вхождений одной строки в другую строку. Простейшая форма вызова `S.count(T)`  возвращает число вхождений строки `T` внутри строки `S`.

In [ ]:
print('devcit auca'.count('a'))
# вернёт 2

2

## Практика

Дана строка "!dlrow ,olleH". Покажите эту строку в обратном порядке.

In [151]:
s = '!dlrow ,olleH'
s[::-1]

'Hello, world!'

In [ ]:
s[start:stop:step]

Дана строка "My name is Harry". С помощью срезов покажите только имя.

In [153]:
s = "My name is Harry"
s[-5:]

'Harry'

Дана строка "My name is Harry". Замените имя на "Bob"

In [154]:
s = "My name is Harry"
s.replace('Harry', 'Bob')

'My name is Bob'

In [ ]:
print()
.count()
.replace()
input()

In [ ]:
S[4:7]

In [1]:
S = input("Пожалуйста введите Ваше имя: ")

Пожалуйста введите Ваше имя: 123

'asjfas'