Atalov S. (DevCIT)

# Введение в моделирование
---

## Но перед этим небольшой Quiz!

Импортируйте Pandas

In [5]:
import pandas as pd

Прочитайте Excel-файл `telecom_churn.xlsx`

In [6]:
# pd.read_excel()
df = pd.read_excel('telecom_churn.xlsx')

1. Сколько клиентов пользуются Голосовой почтой? `Voice mail plan`

In [7]:
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

2. Сколько клиентов перестали пользоваться нашими услугами? Какой процент оттока? `Churn = True`

3. Сколько штатов в нашей выборке? `State`

4. Какое максимальное число обращений в техподдержку? `Customer service calls`

5. Сколько клиентов имеют подключенный пакет международных звонков и голосовую почту одновременно? `International plan`

6. В скольких штатах клиенты имеют и подключенный пакет международных звонков и голосовую почту одновременно?

7. Поменяйте текстовые значения `International plan` на 1 и 0.

---
# Введение в моделирование

### Что такое Машинное обучение? Искусственный интеллект?

### Какие задачи стоят перед нами?

1. Кластеризация
2. Классификация
3. Системы рекомендаций
4. Прогнозирование
5. Снижение размерности

Цикл моделирования:

1. Подготовка данных
2. Выбор алгоритма (модели) для решения задачи
3. Оценка модели
4. Анализ результатов моделирования
5. Улучшение модели
6. Окончательный вариант модели. Использование для решения задачи.

##  Пример анализа и моделирования

### 1. Подготовка данных

In [ ]:
df.head()

In [ ]:
df['International plan'] = df['International plan'].map({"Yes": 1, "No": 0})
df.head()

In [ ]:
df['Voice mail plan'] = df['Voice mail plan'].map({"Yes": 1, "No": 0})
df.head()

In [ ]:
df.pop("State")
df.head()

In [ ]:
df['Churn'] = df['Churn'].map({True: 1, False: 0})
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
y = df.pop("Churn")

In [ ]:
X = df

In [ ]:
y

### train test split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train.shape

In [ ]:
X_test.shape

### 2. Выбор алгоритма (модели) для решения задачи

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
clf = RandomForestClassifier()

In [ ]:
clf.get_params()

### 3. Оценка модели

In [ ]:
clf.fit(X_train, y_train)

### 4. Анализ результатов моделирования

Как проверить насколько хороша модель?

In [ ]:
clf.score(X_train, y_train)

In [ ]:
y_pred = clf.predict(X_test)

In [ ]:
y_pred

In [ ]:
y_test = list(y_test)

In [ ]:
trues = 0

for i in range(len(y_test)):
    if y_test[i] == y_pred[i]:
        trues += 1
        
print(trues)

In [ ]:
print(trues / len(y_test) * 100)

### 5. Улучшение модели

In [ ]:
for n in range(10, 101, 10):
    print(f"Оцениваю модель с {n} деревьями...")
    clf = RandomForestClassifier(n_estimators = n).fit(X_train, y_train)
    print(f"точность на тестовых данных: {clf.score(X_test, y_test)}")

### 6. Окончательный вариант модели. Использование для решения задачи.

In [ ]:
clf = RandomForestClassifier(n_estimators=100)
clf.fit(X_train, y_train)

In [ ]:
import pickle

In [ ]:
pickle.dump(clf, open("my_model1.pkl", "wb"))

In [ ]:
loaded_model = pickle.load(open("my_model1.pkl", "rb"))

In [ ]:
loaded_model.predict(X_test)