Atalov S.

### Наша компания помогает студентам поступать в программы магистратуры в ведущие мировые ВУЗы. Мы оцениваем, поступающих на программы магистратуры вручную, проверяя документы каждого студента и расчитываем шансы на поступление в выбранный им университет. Мы решили автоматизировать процесс, используя машинное обучение, чтобы оно помогало нам в работе.

### Просим Вас построить нам модель для предсказания вероятности шансов на поступление в университет в зависимости от поданных студентами документов.

### Вам предоставляем данные по абитуриентам предыдущих годов (`Admission_Predict.csv`)

Данные содержат параметры, которые важны при поступлении на магистерские программы.
В портфолио студентов имеются следующие данные:

- GRE Scores - Балл по тесту GRE ( из 340 )
- TOEFL Scores - Баллы по тесту TOEFL ( из 120 )
- University Rating - Рейтинг университета (из 5 )
- Statement of Purpose and Letter of Recommendation Strength - Рекомендательные письма и эссе ( из 5 )
- Undergraduate GPA - Средний балл диплома бакалавра ( из 10 )
- Research Experience - Академический опыт ( 0 или 1 )
- Chance of Admit - Шансы на поступление ( от 0 до 1 )

---

**Загрузите предоставленные данные и постройте модель линейной регрессии.**

**Вы должны построить модель предсказания `y - Chance of Admit`, на основе остальных данных `X`.**

График строить не нужно. Нужно разделить данные на X и y. Загрузить и оценить модель. Показать коэффициенты и оценить точность модели (насколько хорошо модель описывает данные - `your_model.score(X, y)`)

Удачи! В понедельник обсудим вопросы.

In [3]:
import pandas as pd
df = pd.read_csv("Admission_Predict.csv", sep = ';')

In [4]:
df

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
395,324,110,3,3.5,3.5,9.04,1,0.82
396,325,107,3,3.0,3.5,9.11,1,0.84
397,330,116,4,5.0,4.5,9.45,1,0.91
398,312,103,3,3.5,4.0,8.78,0,0.67
399,333,117,4,5.0,4.0,9.66,1,0.95

In [8]:
x = df[['GRE Score','TOEFL Score', 'University Rating', 'SOP', 'CGPA', 'Research']]
y = df['Chance of Admit']

In [9]:
# sklearn
from sklearn.linear_model import LinearRegression

In [11]:
model = LinearRegression()
model.fit(x, y)

LinearRegression()

In [12]:
model.score(x, y)

0.7953137415238276

In [13]:
model.intercept_

-1.2669816645652001

In [14]:
model.coef_

array([0.0017074 , 0.00262524, 0.0087678 , 0.00568986, 0.12887516,
       0.02526879])