Atalov S. (DevCIT)

Регрессионные модели используются при прогнозировании значений целевых переменных с непрерывным масштабом, что делает их привлекательными для решения многих вопросов в науке. Они также имеют применения в индустрии, такие как выяснение взаимоотношений между переменными, оценивание тенденций или вырабатывание предсказаний. Примером может служить прогнозирование продаж компании в грядущих месяцах.

### Простая линейная регрессия

Цель простой (одномерной) линейной регрессии - моделирование взаимоотношения между одиночным признаком (объясняющей пере.нетюй х) и целью с непрерывными значениями (переменной ответа у). Уравнение линейной модели с одной объясняющей переменной определяется следующим образом:

# $y = w_0 + w_1x$

Здесь вес $w_0$ представляет точку пересечения оси у, а $w_1$ - весовой коэффициент объясняющей переменной. Наша цель - узнать веса линейного уравнения, чтобы описать взаимоотношение между объясняющей переменной и целевой переменной, которое затем используется для прогнозирования ответов новых объясняющих переменных, не входящих в состав обучающего набора данных.

<div>
<img src="attachment:image.png" width="600"/>
</div>

Наилучшим образом подогнанная линия также называется линией регрессии, а вертикальные линии от линии регрессии до обучающих образцов - это так называемые смещения или остатки, т.е. ошибки прогноза.

In [7]:
import matplotlib.pyplot as plt
import numpy as np

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("salary.csv", sep = ';')
df.head()

      Name  YearsExperience  Salary
0    James              1.1   39343
1     John              1.3   46205
2   Robert              1.5   37731
3  Michael              2.0   43525
4    David              2.2   39891