Atalov S.

# –õ–∏–Ω–µ–π–Ω–∞—è —Ä–µ–≥—Ä–µ—Å—Å–∏—è

–ù–∞ —ç—Ç–æ—Ç —Ä–∞–∑ —É –Ω–∞—Å –∏–º–µ—é—Ç—Å—è –¥–∞–Ω–Ω—ã–µ –ø–æ –¥–æ–º–∞–º (Real_estate.csv).

* transaction date - –¥–∞—Ç–∞ —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏ (–Ω–µ –±—É–¥–µ–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å)
* house age - –≤–æ–∑—Ä–∞—Å—Ç –¥–æ–º–∞
* distance metro station - —Ä–∞—Å—Å—Ç–æ—è–Ω–∏–µ –¥–æ —Å—Ç–∞–Ω—Ü–∏–∏ –º–µ—Ç—Ä–æ
* number of convenience stores - –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –º–∞–≥–∞–∑–∏–Ω–æ–≤
* latitude - —à–∏—Ä–æ—Ç–∞ (–¥–ª—è –º–µ—Å—Ç–æ–ø–æ–ª–æ–∂–µ–Ω–∏—è)
* longitude - –¥–æ–ª–≥–æ—Ç–∞ (–¥–ª—è –º–µ—Å—Ç–æ–ø–æ–ª–æ–∂–µ–Ω–∏—è)
* house price of unit area - —Å—Ç–æ–∏–º–æ—Å—Ç—å –∫–≤–∞–¥—Ä–∞—Ç–Ω–æ–≥–æ –º–µ—Ç—Ä–∞ –∂–∏–ª—å—è

**–£ –Ω–∞—Å –∏–º–µ–µ—Ç—Å—è –º–æ–¥–µ–ª—å –ª–∏–Ω–µ–π–Ω–æ–π —Ä–µ–≥—Ä–µ—Å—Å–∏–∏ —Å–æ —Å–ª–µ–¥—É—é—â–µ–π —Å–ø–µ—Ü–∏—Ñ–∏–∫–∞—Ü–∏–µ–π:**

$\hat{y}=\theta_0 + \theta_1house age + \theta_2distance metro station + \theta_3number of convenience stores + \theta_4latitude + \theta_5longitude$

–≥–¥–µ,

$\hat{y}$ - —ç—Ç–æ –ø—Ä–æ–≥–Ω–æ–∑–∏—Ä—É–µ–º–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ - `house price of unit area`;

*‚Ñéùëúùë¢ùë†ùëíùëéùëîùëí* - —ç—Ç–æ `house age`;

*ùëëùëñùë†ùë°ùëéùëõùëêùëíùëöùëíùë°ùëüùëúùë†ùë°ùëéùë°ùëñùëúùëõ* - —ç—Ç–æ `distance metro station`;

*ùëõùë¢ùëöùëèùëíùëüùëúùëìùëêùëúùëõùë£ùëíùëõùëñùëíùëõùëêùëíùë†ùë°ùëúùëüùëíùë†* - —ç—Ç–æ `number of convenience stores`;

*ùëôùëéùë°ùëñùë°ùë¢ùëëùëí* - —ç—Ç–æ `latitude`;

*ùëôùëúùëõùëîùëñùë°ùë¢ùëëùëí* - —ç—Ç–æ `longitude`;

$\theta_i$ - —ç—Ç–æ –ø–∞—Ä–∞–º–µ—Ç—Ä—ã –º–æ–¥–µ–ª–∏.

**–ü–æ–ø—Ä–æ–±—É–µ–º –æ—Ü–µ–Ω–∏—Ç—å –º–æ–¥–µ–ª—å –∞–Ω–∞–ª–∏—Ç–∏—á–µ—Å–∫–∏ –∏ —Å –ø–æ–º–æ—â—å—é Sklearn:**

In [21]:
import pandas as pd

In [2]:
df = pd.read_csv('Real_estate.csv')

In [4]:
df.head()

,No,transaction date,house age,distance metro station,number of convenience stores,latitude,longitude,house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

#### –î–µ–ª–∏–º –¥–∞–Ω–Ω—ã–µ –Ω–∞ X –∏ y –∫–∞–∫ –ø–æ–∫–∞–∑–∞–Ω–æ –≤ —Å–ø–µ—Ü–∏—Ñ–∏–∫–∞—Ü–∏–∏ —É—Ä–∞–≤–Ω–µ–Ω–∏—è (–∫–∞–∫–∏–µ –¥–∞–Ω–Ω—ã–µ –Ω–∞–º –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã)

In [23]:
from sklearn.model_selection import train_test_split

In [9]:
X = df.copy()
X.pop('house price of unit area')
X.pop('transaction date')

0      2012.917
1      2012.917
2      2013.583
3      2013.500
4      2012.833
         ...
409    2013.000
410    2012.667
411    2013.250
412    2013.000
413    2013.500
Name: transaction date, Length: 414, dtype: float64

In [11]:
y = df[['house price of unit area']]

#### –†–∞–∑–¥–µ–ª–∏–º –¥–∞–Ω–Ω—ã–µ –Ω–∞ —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ—á–Ω—ã–µ –∏ —Ç–µ—Å—Ç–æ–≤—ã–µ –¥–∞–Ω–Ω—ã–µ (—Ä–∞–∑–º–µ—Ä —Ç–µ—Å—Ç–æ–≤—ã—Ö –¥–∞–Ω–Ω—ã –æ–ø—Ä–µ–¥–µ–ª—è–µ–º —Å–∞–º–∏)

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.8, random_state = 40)

In [13]:
X_test

,No,house age,distance metro station,number of convenience stores,latitude,longitude
320,321,13.5,4197.3490,0,24.93885,121.50383
383,384,29.1,506.1144,4,24.97845,121.53889
362,363,17.1,967.4000,4,24.98872,121.53408
85,86,0.0,338.9679,9,24.96853,121.54413
169,170,8.4,1962.6280,1,24.95468,121.55481
...,...,...,...,...,...,...
283,284,33.5,1978.6710,2,24.98674,121.51844
115,116,20.6,737.9161,2,24.98092,121.54739
119,120,16.6,289.3248,5,24.98203,121.54348
250,251,39.2,424.7132,7,24.97429,121.53917
201,202,13.1,561.9845,5,24.98746,121.54391

In [26]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [29]:
model.fit(X_train, y_train)

LinearRegression()

In [30]:
model.score(X_train, y_train)

0.5244273432977027

In [31]:
model.score(X_test, y_test)

0.5235278827770324

-----

## –†–µ—à–µ–Ω–∏–µ —É—Ä–∞–≤–Ω–µ–Ω–∏—è –≤ –∞–Ω–∞–ª–∏—Ç–∏—á–µ—Å–∫–æ–º –≤–∏–¥–µ


## $\hat{\theta} = (X^{T}X)^{-1} X^{T}y$

In [ ]:
# –¥–æ–±–∞–≤–ª—è–µ–º x0 —Ä–∞–≤–Ω–æ–µ 1, –¥–ª—è —Ç–æ–≥–æ —á—Ç–æ–±—ã —Ä–µ—à–∞–ª–æ—Å—å —É—Ä–∞–≤–Ω–µ–Ω–∏–µ
X = np.c_[np.ones(("—Ç—É—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ –≤ x_train", 1)), X_train]
y = Y_train

### –ö–∞–∫–∏–µ –Ω–∞–∏–ª—É—á—à–∏–µ –æ—Ü–µ–Ω–∫–∏ –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç–æ–≤ $\theta$ ???

In [ ]:
# —Ç—É—Ç —Ä–µ—à–µ–Ω–∏–µ –ø–æ —Ñ–æ—Ä–º—É–ª–µ –¥–∞–Ω–Ω–æ–π –≤—ã—à–µ
theta_best =

### –ö–∞–∫–æ–≤—ã –∑–Ω–∞—á–µ–Ω–∏—è –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç–æ–≤ $\theta_0$, $\theta_1$, $\theta_2$, $\theta_3$, $\theta_4$ –∏ $\theta_5$ ???

In [ ]:
theta0 = theta_best[0]
theta1 = theta_best[1]
theta2 = ...
theta3 = ...
theta4 = ...
theta5 = ...

#### –ï—Å–ª–∏ –Ω–∞—à–µ —É—Ä–∞–≤–Ω–µ–Ω–∏–µ –≤—ã–≥–ª—è–¥–∏—Ç —Ç–∞–∫–∏–º –æ–±—Ä–∞–∑–æ–º:

$\hat{y}=\theta_0 + \theta_1house age + \theta_2distance metro station + \theta_3number of convenience stores + \theta_4latitude + \theta_5longitude$

#### –°–¥–µ–ª–∞–π—Ç–µ –ø—Ä–æ–≥–Ω–æ–∑ `house price of unit area` –µ—Å–ª–∏ —É –Ω–∞—Å –∏–º–µ–µ—Ç—Å—è –¥–æ–º —Å –¥–∞–Ω–Ω—ã–º–∏ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞–º–∏:

`house age = 18`

`distance metro station = 1000`

`number of convenience stores = 4`

`latitude = 25`

`longitude = 121`

#### –ò—Å–ø–æ–ª—å–∑—É—è –æ—Ü–µ–Ω–µ–Ω–Ω—ã–µ –≤—ã—à–µ –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç—ã, –¥–æ–ø–∏—à–∏—Ç–µ —É—Ä–∞–≤–Ω–µ–Ω–∏–µ –∏ –ø—Ä–µ–¥—Å–∫–∞–∂–∏—Ç–µ —Å—Ç–æ–∏–º–æ—Å—Ç—å –∂–∏–ª—å—è:

In [ ]:
price = theta0 + theta1 * 18 + ...
print(price)

-----

## –†–µ—à–µ–Ω–∏–µ —Å –ø–æ–º–æ—â—å—é sklearn.

#### –ü—Ä–æ–≤–µ—Ä—å—Ç–µ, –æ—Ü–µ–Ω–µ–Ω–Ω—ã–µ –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç—ã —Å –ø–æ–º–æ—â—å—é sklearn —Ç–∞–∫–∏–µ –∂–µ –∫–∞–∫ –º—ã –ø–æ–ª—É—á–∞–ª–∏ –≤—ã—à–µ?

#### –°–¥–µ–ª–∞–π—Ç–µ –ø—Ä–æ–≥–Ω–æ–∑ `house price of unit area` –µ—Å–ª–∏ —É –Ω–∞—Å –∏–º–µ–µ—Ç—Å—è –¥–æ–º —Å–æ —Å–ª–µ–¥—É—é—â–∏–º–∏ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∞–º–∏:

`house age = 18`

`distance metro station = 1000`

`number of convenience stores = 4`

`latitude = 25`

`longitude = 121`

In [ ]:
# –Ω–∞–ø–∏—à–∏—Ç–µ –≤ —Å–ø–∏—Å–∫–µ –¥–∞–Ω–Ω—ã–µ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∏ –≤ –ø–æ—Ä—è–¥–∫–µ, —É–∫–∞–∑–∞–Ω–Ω–æ–º –≤ —Å–ø–µ—Ü–∏—Ñ–∏–∫–∞—Ü–∏–∏ –º–æ–¥–µ–ª–∏
model.predict([[]])

### –°—Ö–æ–∂–∏ –ª–∏ –ø—Ä–æ–≥–Ω–æ–∑—ã???

---

### –ü–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞—Å–∫–æ–ª—å–∫–æ —Ö–æ—Ä–æ—à–∞ –º–æ–¥–µ–ª—å –Ω–∞ train –∏ test data.

In [ ]:
print("Training set score: {:.2f}".format(model.score(X_train, Y_train)))
print("Test set score: {:.2f}".format(model.score(X_test, Y_test)))