Atalov S. (DevCIT)

---
# Lists, Tuples and Dictionaries
## Списки, кортежи и словари.

### Quiz
Есть список покупок. Напишите в цикле: "Мне надо купить <название продукта>".

In [1]:
spisok = ["хлеб", "масло", "молоко"]

for i in spisok:
    print(f"Мне надо купить {i}")

Мне надо купить хлеб
Мне надо купить масло
Мне надо купить молоко

In [9]:
print(f"Мне надо купить {spisok[2]}")

Мне надо купить молоко

In [4]:
n = len(spisok)
i = 0
while i < n:
    print(f"Мне надо купить {spisok[i]}")
    i += 1

Мне надо купить хлеб
Мне надо купить масло
Мне надо купить молоко

In [3]:
n

3

-----

## List comprehension

In [11]:
A = list(range(1,100,1))
# Создать из списка А новый список, в котором будут только четные числа

In [13]:
B = []
for i in A:
    if i % 2 == 0:
        B.append(i)

In [15]:
print(B)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [16]:
C = [i for i in A if i % 2 == 0]

In [18]:
print(C)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [19]:
L = [1 for i in A]

In [ ]:
L = []
for i in A:
    L.append(1)

In [20]:
print(L)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [23]:
spisok = [1,2,3,4,5]
# создайте новый список с квадратами чисел в `spisok`
new_spisok = ['Hello' for i in spisok]

In [24]:
new_spisok

['Hello', 'Hello', 'Hello', 'Hello', 'Hello']

### Quiz
Создать новый список где будут квадраты чисел в данном списке двумя способами.
[1, 2, 3, 4, 5]

In [ ]:
nums = [1, 2, 3, 4, 5]

### Quiz
Есть список, верните новый список в котором будут только положительные и четные числа.

[-5, 3, -3, -2, 6, -8, 15, 17, 12]

In [32]:
nums = [-5, 3, -3, -2, 6, -8, 15, 17, 12]
new_nums = [i > 0 for i in nums]

In [33]:
new_nums

[False, True, False, False, True, False, True, True, True]

In [36]:
nums = [-5, 3, -3, -2, 6, -8, 15, 17, 12]
new_nums = [privet for privet in nums if (privet > 0) and (privet % 2 == 0)]

### Quiz
Есть список слов, верните новый список в котором будут только слова длина которых меньше 5.

['Beckeg', 'Kristion', 'Hip', 'DevCIT', 'Bishkek', 'Hop']

In [40]:
words = ['Beckeg', 'Kristion', 'Hip', 'DevCIT', 'Bishkek', 'Hop']
new_words = [i for i in words if len(i) < 5]

In [43]:
words = ['Beckeg', 'Kristion', 'Hip', 'DevCIT', 'Bishkek', 'Hip']
new_words2 = [i for i in words if i == 'Hip']

In [44]:
new_words2

['Hip', 'Hip']

### Quiz
Есть список чисел, верните новый список в котором не будет дубликатов.

[1, 4, 5, 1, 2, 7, 8, 4, 2, 5, 7, 9, 0, 9]

In [49]:
nums = [1, 4, 5, 1, 2, 7, 8, 4, 2, 5, 7, 9, 0, 9]
no_duplicates = []
for i in nums:
    if i not in no_duplicates:
        no_duplicates.append(i)
print(no_duplicates)

[1, 4, 5, 2, 7, 8, 9, 0]

In [52]:
list(set(nums))

[0, 1, 2, 4, 5, 7, 8, 9]

In [56]:
L = ['moloko', 5, 'chaiasdasd', 0, 'chaiasdasd']
set(L)

{0, 5, 'chaiasdasd', 'moloko'}

-----

## Кортеж

In [57]:
A = 3
type(A)

int

In [58]:
A = (3)
type(A)

int

In [60]:
A = (3,1,2)
type(A)

tuple

In [65]:
B = [3, 1, 2]
B[0] = 5
print(B)

[5, 1, 2]

In [66]:
B = (3, 1, 2)
B[0] = 5
print(B)

TypeError: 'tuple' object does not support item assignment

In [68]:
B = (3, 1, 2)

In [69]:
for i in B:
    print(i ** 2)

9
1
4

In [70]:
B = (3,1,2)

(3, 1, 2)

In [71]:
A = list(B)
A[1] = 3
B = tuple(A)

In [72]:
B

(3, 3, 2)

In [73]:
a, b, c = 1, 2, 3

In [74]:
print(a)
print(b)
print(c)

1
2
3

In [130]:
a, b, c = {1, 2, 1, 4}

In [132]:
students = ['Sasha', 'Masha']
marks = [1, 2]

for i in range(len(students)):
    print(f'{students[i]}, {marks[i]}')

Sasha, 1
Masha, 2

In [131]:
print(a)
print(b)
print(c)

1
2
4

In [77]:
A = ('one', 'two', 'three')
A

('one', 'two', 'three')

In [85]:
w1 = ['one', 'two', 'three']
w2 = w1

In [86]:
w2

['one', 'two', 'three']

In [87]:
w1[0] = 'zero'

In [88]:
w1

['zero', 'two', 'three']

In [89]:
w2

['zero', 'two', 'three']

### Copy

In [90]:
w1 = ['one', 'two', 'three']
w2 = w1[:]

In [91]:
w2

['one', 'two', 'three']

In [93]:
w1[0] = 'five'

In [94]:
w2

['one', 'two', 'three']

-----

## Dictionaries
## Словари

In [95]:
D = {'Sasha': 5, 'Ivan': 4}
print(D)

{'Sasha': 5, 'Ivan': 4}

In [96]:
# поменять оценку Ивану
D['Ivan'] = 5

In [97]:
print(D)

{'Sasha': 5, 'Ivan': 5}

In [100]:
spisok = {'молоко': '1 л', 'картошка': "3 кг", 'морковь': "1 кг"}

In [101]:
spisok

{'молоко': '1 л', 'картошка': '3 кг', 'морковь': '1 кг'}

In [102]:
spisok['молоко'] = "2 л"

In [103]:
spisok

{'молоко': '2 л', 'картошка': '3 кг', 'морковь': '1 кг'}

In [104]:
spisok['morojenoe'] = '3 шт'

In [105]:
spisok

{'молоко': '2 л', 'картошка': '3 кг', 'морковь': '1 кг', 'morojenoe': '3 шт'}

In [106]:
d = {'Саша': [5, 3, 4], 'Маша' : [4, 5, 5]}
print(d)

{'Саша': [5, 3, 4], 'Маша': [4, 5, 5]}

In [107]:
d['Саша'][1] = 4

In [108]:
print(d)

{'Саша': [5, 4, 4], 'Маша': [4, 5, 5]}

In [111]:
d['Саша'][1] = 5

In [112]:
print(d)

{'Саша': [5, 5, 4], 'Маша': [4, 5, 5]}

In [113]:
spisok = {'morkovka': 'ovosh', 
          'luk': 'ovosh', 
          'yabloko': 'frukt', 
          'persik':'frukt'}

In [117]:
spisok.items()

dict_items([('morkovka', 'ovosh'), ('luk', 'ovosh'), ('yabloko', 'frukt'), ('persik', 'frukt')])

In [ ]:
a, b = (1, 2)

In [ ]:
kluch, znachenie = ('morkovka', 'ovosh')

In [118]:
spisok['luk']

'ovosh'

In [116]:
for key, value in spisok.items():
    if value == 'frukt':
        print(key)

yabloko
persik

In [124]:
spisok = {'ovosh': ('morkovka', 'luk'),  
          'frukt':('yabloko', 'persik')}

In [125]:
spisok

{'ovosh': ('morkovka', 'luk'), 'frukt': ('yabloko', 'persik')}

In [126]:
print(spisok['frukt'])

('yabloko', 'persik')

In [ ]:
d = {55: 5,
    [55,33] : 4}
print(d)

In [ ]:
nums = {
    1: "one",
    2: "two",
    3: "three",
    4: "four",
    5: "five",
    6: "six",
}

In [ ]:
nums[1]

In [ ]:
nums[7]

In [ ]:
print(7 in nums)

In [ ]:
if 7 not in nums:
    nums[7] = "seven"

In [ ]:
print(nums)

In [ ]:
nums[7]

In [ ]:
nums[0] = "zero"
print(nums)
del nums[0]
print(nums)

### Quiz
Принимаем одно число от 1 до 10. Вернуть название на английском.

In [ ]:
for x in nums:
    print(x)

In [ ]:
for key in nums:
    print(key, nums[key])

In [ ]:
print(nums.get(5))

In [ ]:
nums.get(15, "Такой цифры нет")

In [ ]:
nums.keys()

In [ ]:
nums.values()

In [ ]:
for x in nums.values():
    print(x)

In [ ]:
nums.items()

In [ ]:
for key, value in nums.items():
    print(key, value)